<li class='linormal'><a href="~/Travel/AwaitingApproval"><span class="glyphicon glyphicon-edit" style="text-align:center;color:white"></span>&nbsp;&nbsp;Awaiting Approval</a></li>

<li class="dd_list">
    <a href="javascript:void();">
        <span style="color:#bb1d1a;">.</span><span class="glyphicon glyphicon-chevron-down" style="text-align:center;color:white"></span>
        <span style="color:#bb1d1a;">.</span>
    </a>
    <ul class="Level1">
        <li class="linormal"><a href="~/Travel/ApprovedRequest"><span class="glyphicon glyphicon-ok-circle" style="text-align:center;color:white"></span>&nbsp;&nbsp;Approved by Me</a></li>

    </ul>
</li>

<li class="linormal"><a href="~/Search/AdminPage"><span class="glyphicon glyphicon-briefcase" style="text-align:center;color:white"></span>&nbsp;&nbsp;Admin</a></li>
<a href="/appraisal/LivePerformance.nsf/AdminSearchForm">

</a>
<li class="dd_list">
    <a href="/appraisal/LivePerformance.nsf/AdminSearchForm"></a><a href="javascript:void();">
        <span style="color:#bb1d1a;">.</span><span class="glyphicon glyphicon-chevron-down" style="text-align:center;color:white"></span>
        <span style="color:#bb1d1a;">.</span>
    </a>
    <ul class="Level1">
        <li class="linormal"><a href="~/Admin/DeniedRequest"><i class="el-icon-star">&nbsp;</i>Denied Request</a></li>
        <li class="linormal"><a href="~/Admin/ApprovedRequest"><i class="el-icon-star">&nbsp;</i>Approved Request</a></li>
        <li class="linormal"><a href="~/Admin/Manage_Approval_List"><i class="el-icon-star">&nbsp;</i>Add Approver</a></li>
        <li class="linormal"><a href="~/Admin/ApproverList"><i class="el-icon-star">&nbsp;</i>Approver List</a></li>
        @*<li class="linormal"><a href="~/Activity/StaffnameView"><i class="el-icon-star">&nbsp;</i>Search Activity by Initiators</a></li>*@

    </ul>
</li>
