@model IEnumerable<MainTravelClass.TravelRequest>


<div class="contentBody secondcontentBody card" style="margin-top:1px;">
    <div style="display:block;">
        <span class="requester_details" align="right">Date: 08/09/2015 04:13 PM<br>Appraisal Stage: Fill Appraisal Form</span>
    </div>
</div>
@Html.Raw(ViewBag.coInit)
<div class="contentBody secondcontentBody card" style="margin-top:-25px;">
    <span class="stf_table_title" align="left">Requests Approved by Me</span>
    <div align="left" class="line"></div>
    <div class="stf_optionsContainer">
        <style>
            .viewTableHeader th a {
                color: white;
            }
        </style>
        @{

            Layout = "~/Views/Shared/_Layout.cshtml";
            WebGrid grid = new WebGrid(Model, rowsPerPage: 100);
        }


        @if (Model != null && Model.Count() > 0)
        {
            ViewBag.HasGrid = true;
            int rowNum = 0;
            @grid.GetHtml(

    tableStyle: "viewTable",
    fillEmptyRows: false,
    headerStyle: "viewTableHeader",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",


    columns: new[]
    {
        grid.Column("S/NO",format: item => rowNum = rowNum + 1),
        grid.Column("StaffProfile.StaffName","Initiator Name"),
        grid.Column(header: "Account Name", format: (item) =>new HtmlString( Html.ActionLink((string)item.Accountdetails.Account_Name, "ExplodeTravelrequest", new { id = item.id } ).ToString())),
        grid.Column("Accountdetails.AccountNo","Account Number"  ),
        grid.Column("StaffProfile.Branch","Branch"),
        grid.Column("ApprovalStage","Approval Stage"),
        grid.Column("Date_Submitted","Date Submitted")

   })
        }
        else
        {
            <p>No Request To Approve</p>
        }
    </div>
</div>
